#mainList .list-cell {
    -fx-background-color: null;
    -fx-font-size: 24px;
    -fx-text-fill: linear-gradient( from 0.0% 0.0% to 0.0% 50.0%, reflect, rgba(255,0,0,0.28) 0.0, rgba(102,243,255,0.58) 50.0, rgba(179,179,179,0.45) 70.0, rgba(179,179,179,0.45) 100.0);
}
#mainList .list-cell:hover {
    -fx-text-fill: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(255,255,102) 0.0, rgb(77,128,77) 100.0 );
    -fx-background-color: rgba(204,255,255,0.13793103396892548);
    -fx-font-size: 23px;
}
#mainList .list-cell:empty{
    -fx-background-color: rgba(255,255,255,0.0);
}

#stoperButton  { 
    -fx-background-color:  rgb(153,0,0);
}

#stoperButton:hover {
    -fx-background-color: rgb(179,26,26);
}
#menuItemClose {
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 0.0% 100.0%, rgb(255,255,255) 0.0, rgb(230,230,230) 100.0);
	-fx-fill: rgb(179,102,26);
}
#menuItemClose:hover {
	-fx-background-color: rgb(128,153,255);
	-fx-text-fill: rgb(204,51,51)
}

.togglebutton {
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 0.0% 0.0%, radius 100.0%, rgb(255,255,255) 0.0, rgb(179,230,179) 100.0 );
	-fx-text-fill: rgba(26,51,153,0.90);
}
.togglebutton:hover {
	-fx-font-size: 16px;
	-fx-font-weight: bolder;
}
.togglebutton:selected {
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 0.0% 0.0%, radius 100.0%, rgb(255,255,255) 0.0, rgb(255,128,128) 100.0 );
	-fx-text-fill: white;
}
.cardPane{
	-fx-border-color: black;
	-fx-border-width: 0.2px;
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgba(255,255,255,0.16091954708099365) 0.0, rgba(153,179,255,0.30) 100.0 );
}
.tab-header-background {
    -fx-background-color: linear-gradient( from 0.0% 100.0% to 100.0% 100.0%, rgb(255,255,255) 0.0, rgb(215,204,141) 100.0)
}
